* {
    box-sizing: border-box;
    margin:0 auto;
}

html {
    background: #e6e6e6;
}

#divCss {
    width: 60%;
    height: 100%;
    background: #fefefe;
    padding-top: 30px;
    padding-right: 50px;
    padding-left: 50px;
}
#preCss {
    white-space: pre-wrap;
    word-wrap: break-word;
    margin: 8px;
    padding: 8px;
    background: #f2f2f2;
}
#editText{
    font-size: 16px;
    width: auto;
    color: #bae0ea;
    padding-left: 5px;
    padding-right: 5px;
    border:1px solid #bae0ea;
    cursor:pointer;
    float: right;
}

/*设置开关 start*/
#div1{
    width: 42px;
    height: 24px;
    border-radius: 12px;
    position: relative;
    float: right;
    cursor:pointer;
}
#div2{
    width: 20px;
    height: 20px;
    border-radius: 10px;
    position: absolute;
    background: white;
    box-shadow: 0px 1px 2px rgba(0,0,0,0.4);
    cursor:pointer;
}
.open1{
    background: rgba(0,184,0,0.8);
}
.open2{
    top: 2px;
    right: 1px;
}
.close1{
    background: rgba(255,255,255,0.4);
    border:1px solid rgba(0,0,0,0.15);
    border-left: transparent;
}
.close2{
    left: 0px;
    top: 0px;
    border:1px solid rgba(0,0,0,0.1);
}
/*设置开关 end*/

#editPrivateBtn{
    font-size: 14px;
    width: auto;
    color: #555555;
    padding-left: 5px;
    padding-right: 5px;
    float: right;
}

code {
    font-size: 14px;
    padding: 0;
    margin: 0;
    /*background: #f0f0f0;*/
    line-height: 20px; /* 行距 */
    /*background: url(/image/add_file.png) repeat-y left top;*/
    /*width: 600px;*/
    overflow: auto; /* 超出宽度出现滑动条 */
    overflow-Y:hidden; /* 作用是隐藏IE的右侧滑动条 */
}

p {
    font-size: 14px;
    /*font-family: verdana, serif;*/
    font-family: "Arial","Microsoft YaHei","黑体","宋体",sans-serif;
    font-weight: normal;
    padding: 0;
    margin: 0;
    line-height: 30px; /* 行距 */
}

#title{
    font-size: 18px;
    /*font-family: verdana, serif;*/
    font-family: "Arial","Microsoft YaHei","黑体","宋体",sans-serif;
    font-weight: bold;
    text-align: center;
    padding: 0;
    margin: 0;
}

#des{
    font-size: 16px;
    /*font-family: verdana, serif;*/
    font-family: "Arial","Microsoft YaHei","黑体","宋体",sans-serif;
    font-weight: normal;
}


#bottom{
    margin-top: 60px;
}

#bottom p{
    font-size: 12px;
    color: #c0c0c0;
    /*font-family: verdana, serif;*/
    font-family: "Arial","Microsoft YaHei","黑体","宋体",sans-serif;
    font-weight: normal;
}