* {
    box-sizing: border-box;
    margin:0 auto;
}

html {
    background: #eff3f6;
}

#divCss {
    width: 60%;
    height: 100%;
    background: #fefefe;
}

#ulCss {
    border: 0 solid;
    margin: 0 auto;
    max-width: 800px;
    padding-left: 30px;
    padding-right: 30px;
}

#ulCss li {
    margin: 36px;
    /*display: block;*/
    position: relative;
    display: table;

    /*border-bottom: ridge 1px #b5b5b5;*/

    /*-webkit-box-shadow: 0 0 20px rgba(161, 208, 221, .5);*/
    /*-moz-box-shadow: 0 0 20px rgba(161, 208, 221, .5);*/
    /*box-shadow: 0 0 20px rgba(161, 208, 221, .5);*/
}

#title {
    text-align: left;
    cursor: pointer;
    font-size: 18px;
    /*font-family: verdana, serif;*/
    font-family: "Arial","Microsoft YaHei","黑体","宋体",sans-serif;
    font-weight: bold;
    padding: 0;
    line-height: 23px; /* 行距 */
}

#des {
    cursor: pointer;
    text-align: left;
    float: left;
    font-size: 14px;
    /*font-family: verdana, serif;*/
    font-family: "Arial","Microsoft YaHei","黑体","宋体",sans-serif;
    font-weight: normal;
    padding: 0;
    margin-top: 20px;
    line-height: 23px; /* 行距 */
}

#des pre{
}

#userAndTime{
    font-size: 10px;
    /*font-family: verdana, serif;*/
    font-family: "Arial","Microsoft YaHei","黑体","宋体",sans-serif;
    font-weight: lighter;
    color: #c0c0c0;
    text-align: left;
    float: left;
    margin-top: 5px;
    padding: 0;
    /*bottom: 0;*/
    /*position: absolute;*/
    line-height: 23px; /* 行距 */
}

/* First styling the menu */
#menuOut{
    margin:0 auto; text-align:center;
}

#menu {
    list-style: none;
    padding: 0 12px;
    background: #ffffff;
    margin-right: 50px;
    margin-left: 50px;
    margin-bottom: 50px;
    display: inline-block;
    height: 50px;
    overflow: hidden;
    border-radius: 5px;

    /* 3d effect using box-shadows */
    box-shadow: 0 4px #ffffff, 0 4px 6px rgba(0, 0, 0, 0.3);
}

/* Now the list items */
#menu li {
    margin-left: 10px;
    display: inline-block;
    position: relative;
    bottom: -11px;
}

#menu li:first-child {
    margin: 0
}

#menuLiASel {
    background: #64AEE0;
    display: block;
    border-radius: 3px;
    padding: 0 12px;
    color: white;
    position: relative;
    text-decoration: none;
    height: 27px;
    font: 12px / 27px "PT Sans", Arial, sans-serif;
    /* Now the 3d effect */
    box-shadow: 0 3px #7fafbc, 0 4px 5px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease;
}

/* The real fun begins here :D */
#menuLiANor {
    background: #a1d0dd;
    display: block;
    border-radius: 3px;
    padding: 0 12px;
    color: white;
    position: relative;
    text-decoration: none;
    height: 27px;
    font: 12px / 27px "PT Sans", Arial, sans-serif;
    /* Now the 3d effect */
    box-shadow: 0 3px #7fafbc, 0 4px 5px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease;
}

#menuLiAEllipsis {
    background: white;
    display: block;
    border-radius: 3px;
    padding: 0 12px;
    color: black;
    height: 27px;
    font: 18px / 27px "PT Sans", Arial, sans-serif;
}

/* Basic design is ready, now let's make it animate when hovered or clicked */
/* For this, we'll use transition property */

#menu li a:hover {
    background: #bae0ea
}

#menu li a:active {
    background: #bae0ea;
    /* Now, let's make it look like its pressed down when clicked */
    bottom: -3px;
    box-shadow: 0 0 #7fafbc, 0 1px 3px rgba(0, 0, 0, 0.3);
}

/* Perfect */
/* Using the same technique, you can create buttons, menus and what not! I have already put some examples in the PSD. Get it here  http://dribbble.com/shots/757549-Freebie-3D-Pagination-and-Buttons-with-PSD */