.head-text{
    font-weight:bold;
    padding:7px;
    margin-bottom: 8px;
    margin-top: 5px;
    list-style-type:none;
    float:left;
}
.page-head-right
{
    margin-right:50px;
    float:right;
    color: #555555;

}

.head_about_me{
    font-size: 12px;
    width: auto;
    color: #a6a6a6;
    cursor:pointer;
    float: left;
    margin-top: 10px;
}
/*.page-head-right ul{*/
    /*list-style-type:none;*/
    /*float:right;*/
/*}*/